.loading-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
  display: flex;
  flex-direction: column;
}

.loading-content img{
  border-radius: 10px;
  border: solid 2px #606060
}

.loading-spinning {
  margin-top: 20px;
  width: 20%;
  align-self: center;
}